<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Menu</h1>
    <h2>Appetizers</h2>
    <ul>
      {% for food in appetizers %}
      <a style="text-decoration: none" href="/menu_item/{{ forloop.counter0 }}">
        <b>{{ food.name }} ${{ food.price }}</b>
        <li>{{ food.japanese_name }}</li>
        <li>{{ food.description }}</li>
      </a>
      {% endfor %}
    </ul>

    <h2>Main Course</h2>
    <ul>
      {% for food in main_course %}
      <a style="text-decoration: none" href="/menu_item/{{ forloop.counter0 }}">
        <b>{{ food.name }} ${{ food.price }}</b>
        <li>{{ food.japanese_name }}</li>
        <li>{{ food.description }}</li>
      </a>
      {% endfor %}
    </ul>

    <h2>Desserts</h2>
    <ul>
      {% for food in desserts %}
      <a style="text-decoration: none" href="/menu_item/{{ forloop.counter0 }}">
        <b>{{ food.name }} ${{ food.price }}</b>
        <li>{{ food.japanese_name }}</li>
        <li>{{ food.description }}</li>
      </a>
      {% endfor %}
    </ul>
  </body>
</html>
